<!DOCTYPE html>
<html lang="en">
<head>
  <title>Insert data into MYSQL using Node.JS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="jumbotron">
    <h2>Insert Data into MYSQL using Node.Js</h2>      
    
  </div>
<span>Login Page</span>  
</div>
<form action="/test">
 <p>
   skalkslask
 </p>

 <input type="sasa" name="sasa" value="sasasas">
</form>
</body>